*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1{
  color: blue
}
form {
  background: rgb(255, 254, 254);
  padding: 20px;
  border-radius: 10px;
  width: 450px;
  box-shadow: 0 0 10px rgba(22, 22, 22, 0.1);
}

.f-data {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}
.box{
    display: flex;
    gap: 10px;
}
