body {
            margin: 0;
            font-family: 'Segoe UI', Arial;
            background: #f0f2f5;
        }

        .container {
            display: flex;
            height: 100vh;
        }

        .sidebar {
            width: 290px;
            background: #0f172a;
            color: white;
        }

        .sidebar-header {
            padding: 20px;
            font-size: 22px;
            text-align: center;
            font-weight: bold;
            background: #1e293b;
            letter-spacing: 1px;
        }

        .menu-title {
            padding: 10px 20px;
            opacity: 0.6;
            font-size: 22px;
            text-transform: uppercase;
        }

        .sidebar a {
            display: block;
            padding: 14px 22px;
            color: #e2e8f0;
            text-decoration: none;
            font-size: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .sidebar a:hover {
            background: #1e293b;
            color: white;
        }

        .submenu {
            padding-left: 28px;
            display: none;
        }

        .submenu a {
            font-size: 14px;
            padding: 10px;
            background: #1e293b;
            border-left: 3px solid #38bdf8;
        }

        .topbar {
            width: 100%;
            padding: 18px 25px;
            background: linear-gradient(to right, #38bdf8, #0ea5e9);
            color: white;
            font-size: 20px;
            font-weight: bold;
            box-shadow: 0 2px 5px #0003;
        }

        .content {
            flex: 1;
            overflow-y: auto;
            padding: 30px;
        }

        .page {
            display: none;
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 25px;
            margin-top: 25px;
        }

        .card {
            background: white;
            padding: 25px;
            border-radius: 14px;
            box-shadow: 0 3px 10px #0001;
            transition: 0.3s;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 16px #0002;
        }

        .card-title {
            font-size: 20px;
            color: #879dbd;
        }

        .card-value {
            margin-top: 10px;
            font-size: 42px;
            font-weight: bold;
            color: #0ea5e9;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background: white;
            border-radius: 10px;
            overflow: hidden;
            margin-top: 20px;
            text-align: center;
        }

        table th {
            background: #0ea5e9;
            color: white;
            padding: 12px;
        }

        table td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
        }

        table tr:hover {
            background: #e5f8ff;
            cursor: pointer;
        }

        .btn {
            padding: 7px 12px;
            border: none;
            color: white;
            cursor: pointer;
            border-radius: 5px;
        }

        .edit-btn {
            background: #38bdf8;
        }
        .delete-btn {
            background: #e11d48;
        }

        .form-group {
            margin-bottom: 18px;
        }

        input, select {
            width: 100%;
            padding: 12px;
            font-size: 18px;
            border-radius: 8px;
            border: 1px solid #cbd5e1;
        }

        button {
            padding: 12px 20px;
            background: #0ea5e9;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 15px;
        }

        button:hover {
            background: #0284c7;
        }
    .aside{
    margin-top: 250px;
    bottom: 0px;
    border-top: 1px solid  ;
    width: 86%;
    display: flex;
    gap: 12px;
    padding: 20px;
    font-size: 20px;
}
.aside:hover {
            background: #1e293b;
            color: white;
        }